body, li, p{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    list-style: none;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: red;
}
  
img{
    max-width: 100%;
    width: 200px;
    height: 200px;
}

a{
    color: black;
}

nav a:hover{
    color:white;
}